$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-arrow-right: "\ea34";
$icon-arrow-left: "\ea38";
$icon-spinner: "\e900";

$icons: (
    icon-plus: $icon-plus,
    icon-minus: $icon-minus,
    icon-cross: $icon-cross,
    icon-checkmark: $icon-checkmark,
    icon-arrow-right: $icon-arrow-right,
    icon-arrow-left: $icon-arrow-left,
    icon-spinner: $icon-spinner,
);

@mixin include-icons(){
    @each $name, $value in $icons {
        .#{$name}::before {
            content: "#{$value}";
        }
    }
}
