/*
 * Colors palettes
 */

// Named colors
// ---------
$white: #ffffff;
$smoke: #fcfcfc;
$snow: #f9f9f9;
$pale-grey: #eeeeee;
$light-grey: #e5e5e5;
$silver: #c3c3c3;
$warm-grey: #878787;
$medium-grey: #817c7c;
$slate-grey: #525a65;
$charcoal: #333333;
$dark: #252525;
$black: #000000;
$olive-green1: #b9c77c;
$olive-green2: #9fb245;
$turtle-green: #8ac44a;
$cerise: #ea1f62;
$rusty-red: #ad1616;
$yellow: #ffc107;
$cyan: #17a2b8;

// Bootstrap theme names
// ---------
$primary: $turtle-green;
$secondary: $silver;
$success: $olive-green1;
$info: $cyan;
$warning: $yellow;
$danger: $rusty-red;
$light: $smoke;
$dark: $dark;
