/*
 * Colors settings for enabled palette
 */

// Bootstrap theme map
// ---------
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);


// Color schemes
// ---------
$white-color-scheme: (
    font-color: $dark,
    background: $white,
);
$smoke-color-scheme: (
    font-color: $black,
    background: $smoke,
);
$snow-color-scheme: (
    font-color: $black,
    background: $snow,
);
$pale-grey-color-scheme: (
    font-color: $black,
    background: $pale-grey,
);
$light-grey-color-scheme: (
    font-color: $black,
    background: $light-grey,
);
$silver-color-scheme: (
    font-color: $black,
    background: $silver,
);
$warm-grey-color-scheme: (
    font-color: $white,
    background: $warm-grey,
);
$slate-grey-color-scheme: (
    font-color: $white,
    background: $slate-grey,
);
$charcoal-color-scheme: (
    font-color: $white,
    background: $charcoal,
);
$dark-color-scheme: (
    font-color: $white,
    background: $dark,
);
$black-color-scheme: (
    font-color: $white,
    background: $black,
);
$indianred2-color-scheme: (
    background: $indianred2,
);
$azure2-color-scheme: (
    font-color: $midnightblue,
    background: $azure2,
);
$goldenrod2-color-scheme: (
    font-color: $white,
    background: $goldenrod2,
);
$seagreen3-color-scheme: (
    font-color: $white,
    background: $seagreen3,
);
$aliceblue-color-scheme: (
    font-color: $midnightblue,
    background: $aliceblue,
);
$lightcyan2-color-scheme: (
    background: $lightcyan2,
);
$midnightblue-color-scheme: (
    font-color: $white,
    background: $midnightblue,
);
$deepskyblue2-color-scheme: (
    background: $deepskyblue2,
);
$leaf-color-scheme: (
    font-color: $white,
    background: $leaf,
);
$firebrick2-color-scheme: (
    font-color: $white,
    background: $firebrick2,
);

// Plug schemes from Bootstrap themes for consistency
$primary-color-scheme: (
    font-color: $white,
    background: $primary,
);
$secondary-color-scheme: (
    font-color: $white,
    background: $secondary,
);
$success-color-scheme: (
    font-color: $white,
    background: $success,
);
$info-color-scheme: (
    font-color: $midnightblue,
    background: $info,
);
$warning-color-scheme: (
    font-color: $white,
    background: $warning,
);
$danger-color-scheme: (
    font-color: $white,
    background: $danger,
);

// Enabled color schemes
//
$sv-colors-schemes: (
    "white": $white-color-scheme,
    "smoke": $smoke-color-scheme,
    "snow": $snow-color-scheme,
    "pale-grey": $pale-grey-color-scheme,
    "light-grey": $light-grey-color-scheme,
    "silver": $silver-color-scheme,
    "warm-grey": $warm-grey-color-scheme,
    "slate-grey": $slate-grey-color-scheme,
    "charcoal": $charcoal-color-scheme,
    "dark": $dark-color-scheme,
    "black": $black-color-scheme,
    "azure2": $azure2-color-scheme,
    "midnightblue": $midnightblue-color-scheme,
    "deepskyblue2": $deepskyblue2-color-scheme,
    "aliceblue": $aliceblue-color-scheme,
    "seagreen3": $seagreen3-color-scheme,
    "leaf": $leaf-color-scheme,
    "lightcyan2": $lightcyan2-color-scheme,
    "firebrick2": $firebrick2-color-scheme,
    "indianred2": $indianred2-color-scheme,
    "goldenrod2": $goldenrod2-color-scheme,
    "primary": $primary-color-scheme,
    "secondary": $secondary-color-scheme,
    "success": $success-color-scheme,
    "info": $info-color-scheme,
    "warning": $warning-color-scheme,
    "danger": $danger-color-scheme,
);
