///
/// Shortcut to embed an icomoon font character
///
/// @arg {String} $code [null]
///   Optionnal character to use as content.
///
@mixin icomoon-helper($code: null) {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @if $code != null {
        content: $code;
    }
}


///
/// Trick to correctly apply infinite spinning on icon.
/// This is to be used on custom icon element.
///
@mixin icon-spinning() {
    display: inline-block;
    line-height: 1;
    animation: infinite-spinning 2s infinite linear;

    &::before {
        display: inline-block;
        line-height: 1;
    }
}
